.report-container{
    display: flex;
    justify-content: space-between;
    background-color: #ffc6ff;
    padding: 30px;
    margin: 15px 0;
}
.report-container>div{
    flex: 1;
    text-align: center;
}
.report-container>div:first-of-type{
    border-right: 1px solid #ef233c;
}
.report{
    font-size: 16px;
    letter-spacing: 2px;
    margin: 5px 0;
}
.report.plus{
    color: #1a936f;
}
.report.minus{
    color: red;
}
